.about_work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  padding-bottom: 124px;
}

.about_work_content {
  display: flex;
  flex-direction: column;
}

.about_work_title {
  font-family: "Mono Medium";
  font-size: 48px;
  color: var(--main-white9);
}

.about_work_des {
    display: flex;
    flex-direction: column;
    gap: 44px;
    max-width: 672px;
}

.about_work_text {
  color: var(--main-white9);
  font-family: 'Nairi';
  font-size: 30px;
}

.approach_bg {
  position: absolute;
  right: 0;
  z-index: -1;
  margin-left: calc(var(--b-padding) * -1);
}

.approach_steps {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
  /* margin-right: 17px; */
}

.approach_step {
  font-family: 'Mono Medium';
  font-size: 28px;
  color: var(--main-white9);
  padding: 20px 44px; 
  text-transform: uppercase;
  max-height: 68px;
}

#activeStep {
  background-color: rgb(0, 0, 0, .8);
}