.about {
  padding-top: 40px;
}

.about_title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: var(--main-white9);
}

.about_case {
  display: flex;
  flex-direction: column;
  padding-bottom: 152px;
}

.about_case_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  min-height: 450px;
  margin-top: 45px;
}

.about_case_wrapper_tags {
  display: flex;
  flex-direction: column;
}

.about_case_tags {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  font-family: 'Mono Regular';
  font-size: 26px;
  color: var(--main-white9);
  gap: 20px;
}

.about_case_tags span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  white-space: nowrap;
}

.green_tag {
  background-image: url('../img/images/green.png');
  background-repeat: no-repeat;
}

.orange_tag {
  background-image: url('../img/images/orangeTag.png');
  background-repeat: no-repeat;
}

.purple_tag {
  background-image: url('../img/images/purpleTag.png');
  background-repeat: no-repeat;
}

.about_case_des {
  display: flex;
  flex-direction: column;
  width: 670px;
}

.about_case_name {
  font-family: "Mono Medium";
  font-size: 52px;
  color: var(--main-white9);
}

.about_case_text {
  font-family: "Nairi";
  font-size: 30px;
  color: var(--main-white9);
  margin-top: 24px;
  margin-bottom: 32px;
}

.about_case_link {
  font-family: "Mono Medium";
  color: var(--main-white9);
  font-size: 32px;
  cursor: pointer;
  text-decoration: none;
}

.about_case_preview {
  position: relative;
  min-width: 813px;
  max-width: 936px;
  margin-right: calc(var(--b-padding) * -1);
  height: 450px;
}

.orange_back {
  background-image: url('../img/images/orangeBack.png');
  background-repeat: no-repeat;
}

.pink_back {
  background-image: url('../img/images/pinkBack.png');
  background-repeat: no-repeat;
}

.blue_back {
  background-image: url('../img/images/blueBack.png');
  background-repeat: no-repeat;
}

.purple_back {
  background-image: url('../img/images/purpleBack.png');
  background-repeat: no-repeat;
}


.about_case_preview_img {
  position: relative;
  padding: 20px;
  max-width: 632px;
  box-sizing: content-box;
  height: 410px;
}

.about_case_preview_s1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: var(--main-bg);
}

.about_case_preview_s2 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  background-color: var(--main-bg);
}

.about_case_preview_s3 {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: var(--main-bg);
}

.about_case_preview_s4 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  background-color: var(--main-bg);
}

.about_case_preview_d1 {
  position: absolute;
  right: calc(var(--b-padding)*-1);
  top: 0;
  height: 163px;
  background-color: var(--main-bg);
  width: var(--b-padding);
}

.about_case_preview_d2 {
  position: absolute;
  right: calc(var(--b-padding)*-1);
  bottom: 0;
  height: 123px;
  background-color: var(--main-bg);
  width: var(--b-padding);
}

.about_case_preview_d3 {
  display: none;
}

.about_case_preview_d4 {
  display: none;
}

.about_case_preview_back {
  position: relative;
  right: 0;
}

.about_case_preview_desktop {
  /* position: absolute; */
  box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.75);
  height: 410px;
  left: 20px;
  top: 19px;
  filter: brightness(0.6);
}

.about_case_preview_phone {
  width: 120px;
  height: 252px;
  position: absolute;
  left: 42px;
  top: 162px;
  filter: drop-shadow(16px 17px 10px rgba(0, 0, 0, 0.4));
  object-fit: contain;
}

.case_info {
  position: relative;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin-top: 109px;
  margin-left: calc(var(--b-padding) * -1);
  margin-right: calc(var(--b-padding) * -1);
}

.case_info_hidden {
  display: none;
}

.orange {
  background: url("../img/images/kutBackInfo.png");
}

.pink {
  background: url("../img/images/pupilInfo.png");
}

.blue {
  background: url("../img/images/askInfo.png");
}

.purple {
  background: url("../img/images/purpleInfo.png");
}

.case_info_s1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-bg);
  width: var(--b-padding);
  height: 20px;
}

.case_info_s2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-bg);
  width: var(--b-padding);
  height: 20px;
}

.case_info_s3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-bg);
  width: var(--b-padding);
  height: 20px;
}

.case_info_s4 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--main-bg);
  width: var(--b-padding);
  height: 20px;
}

.case_info_content {
  display: flex;
  align-items: center;
  gap: 21px;
  height: 152px;
  box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.75);
  padding: 0 77px;
  width: calc(100% - 2*(var(--b-padding)));
  background-color: rgba(0, 0, 0, 0.9);
}

.case_info_line {
  background-color: rgba(255, 255, 255, 0.7);
  height: 40%;
  min-width: 2px;
}

.case_info_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 278px;
  min-height: 120px;
}

.case_info_item_num {
  font-family: "Mono Regular";
  font-size: 36px;
  color: rgba(255, 255, 255);
}

.case_info_item_text {
  font-family: "Nairi";
  font-size: 24px;
  color: rgba(255, 255, 255);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .about_case {
    padding-bottom: 122px;
  }

  .about_case_wrapper {
    gap: 40px;
  }

  .about_case_name {
    font-size: 48px;
    line-height: 48px;
  } 

  .about_case_text {
    font-size: 26px;
    margin-top: 21px;
    margin-bottom: 28px;
    max-width: 639px;
  }

  .about_case_link {
    font-size: 28px;
  } 

  .about_case_preview {
    min-width: 551px;
    max-width: 736px;
    margin-right: calc(var(--b-padding-m) * -1);
    height: 369px;
  }

  .about_case_preview_img {
    height: 329px;
    max-width: 441px;
  }

  .about_case_preview_desktop {
    height: 329px;
    width: 440px;
  }
  .about_case_preview_phone {
    width: 90px;
    height: 222px;
    top: 125px;
  }

  .about_case_preview_d1 {
    right: calc(var(--b-padding-m)* -1);
    height: 123px;
    width: var(--b-padding-m);
  }

  .about_case_preview_d2 {
    right: calc(var(--b-padding-m)* -1);
    height: 105px;
    width: var(--b-padding-m);
  }

  .case_info {
    margin-left: calc(var(--b-padding-m)* -1);
    margin-right: calc(var(--b-padding-m)* -1);
    margin-top: 89px;
  }

  .case_info_content {
    gap: 18px;
    height: 152px;
    padding: 0 40px;
    width: calc(100% - 2*(var(--b-padding-m)));
  }

  .case_info_s1, .case_info_s2, .case_info_s3, .case_info_s4 {
    width: var(--b-padding-m);
  }
  
  .case_info_item_num {
    font-size: 32px;
  }

  .case_info_item_text {
    font-size: 21px;
  }

  .about_case_tags {
    font-size: 22px;
  }

  .about_case_tags span {
    padding: 10px 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    padding-top: 28px;
  }

  .about_case_wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 27px;
    gap: 31px;
  }

  .about_case_preview {
    display: flex;
    justify-content: center;
    margin-right: calc(var(--b-padding-m) * -1);
    margin-left: calc(var(--b-padding-m) * -1);
    background-size: cover;
    min-width: 100vw;
    max-width: 100%;
    height: 370px;
  }

  .about_case_preview_img {
    max-width: 548px;
    height: 370px;
    box-sizing: border-box;
  }

  .about_case_preview_desktop {
    height: 329px;
  }

  .about_case_preview_phone {
    width: 92px;
    height: 192px;
    top: 143px;
  }

  .about_case_preview_d1 {
    width: 50%;
    height: 30%;
    right: -50%;
  }

  .about_case_preview_d2 {
    width: 50%;
    height: 30%;
    right: -50%;
  }

  .about_case_preview_d3 {
    display: block;
    position: absolute;
    left: -50%;
    top: 0;
    height: 30%;
    background-color: var(--main-bg);
    width: 50%;
  }

  .about_case_preview_d4 {
    display: block;
    position: absolute;
    left: -50%;
    bottom: 0;
    height: 30%;
    background-color: var(--main-bg);
    width: 50%;
  }

  .about_case_name {
    font-size: 36px;
    line-height: 32px;
  }

  .about_case_text {
    font-size: 20px;
    text-align: center;
  }

  .about_case_des {
    max-width: 564px;
    align-items: center;
    text-align: center;
  }

  .about_case_link {
    font-size: 24px;
  }

  .about_case_tags {
    display: none;
  }

  .case_info_hidden {
    display: block;
    overflow: hidden;
    width: calc(100vw - 2*var(--b-padding-s));
    margin-left: calc(var(--b-padding-s) * -1);
    margin-right: calc(var(--b-padding-s) * -1);
  }

  .case_info {
    height: 165px;
    margin-top: 103px;
    margin-left: calc(var(--b-padding-s) * -1);
    margin-right: calc(var(--b-padding-s) * -1);
  }

  .case_info_content {
    overflow: auto;
    height: 125px;
    /* width: 1160px; */
    width: calc(100% - 2*(var(--b-padding-s)));
    padding: 0 24px;
  }

  .case_info_item {
    min-width: 247px;
  }

  .case_info_item_num {
    font-size: 28px;
  }

  .case_info_item_text {
    font-size: 20px;
  }

  .case_info_s1 {
    width: var(--b-padding-s);
  }

  .case_info_s2 {
    width: var(--b-padding-s);
  }

  .case_info_s3 {
    width: var(--b-padding-s);
  }

  .case_info_s4 {
    width: var(--b-padding-s);
  }
}

