@font-face {
  font-family: 'Mono Hairline';
  src: url('../fonts/mono/FeatureMono-Hairline.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Mono Thin';
  src: url('../fonts/mono/FeatureMono-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Mono Light';
  src: url('../fonts/mono/FeatureMono-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Mono Regular';
  src: url('../fonts/mono/FeatureMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mono Medium';
  src: url('../fonts/mono/FeatureMono-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mono Bold';
  src: url('../fonts/mono/FeatureMono-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Nairi';
  src: url('../fonts/nairi/nairi_normal.otf');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
}

body {
  --main-bg: #0F0415;
  --b-padding: 250px;
  background: var(--main-bg);
  padding: 0 var(--b-padding);
  /* overflow-x: hidden; */
}

.header {
  display: flex;
  flex-direction: column;
  padding: 90px 0 132px 0;
  gap: 50px;
}

.logo {
  width: 152px;
  height: auto;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sub_title {
  color: gray;
  font-size: 20px;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}


.wide-content {
  width: calc(100% + calc(2*var(--b-padding)));
  height: 300px;
  background: linear-gradient(90deg, #9725d0, #dfbbf0);
  position: relative;
  margin-top: 100px;
  margin-left: calc(-1 * var(--b-padding));
}

.bg {
  width: 20%;
  background: black;
  height: 20px;
  position: absolute;
}

.l-top {
  top: 0;
  left: 0;
}
.l-bottom {
  bottom: 0;
  left: 0;
}
.r-top{
  right: 0;
  top: 0;
}
.r-bottom{
  bottom: 0;
  right: 0;
}

.bottom {
  margin-top: 500px;
  width: 90%;
  height: 1200px;
  background: aqua;
  position: relative;
}

.bottom::before {
  content: '';
  position: absolute;
  background: black;
  right: -250px;
  top: -200px;
  rotate: 45deg;
  height: 400px;
  width: 400px;
}

.cont {
  content: '';
  position: absolute;
  background: black;
  left: 0;
  bottom: 0;
  height: 1000px;
  width: 87%;
}

.cont::before {
  content:'';
  position: absolute;
  background: black;
  right: -100px;
  bottom: 0;
  height: 900px;
  width: 200px;
}

.cont::after {
  content:'';
  position: absolute;
  background: black;
  right: -100px;
  top: 0px;
  rotate: 45deg;
  height: 200px;
  width: 200px;
}

.head_nav {
  display: flex;
  gap: 9px;
}

.head_link {
  padding: 12px 32px;
  list-style-type: none;
}

.head_link a {
  text-decoration: none;
  color: white;
  font-family: 'Mono Regular';
  font-size: 28px;
  text-transform: uppercase;
}

#connect {
  background-image: url('../img/images/connectImg.png');
}

.about {
  padding-top: 40px;
}

.about_title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: rgba(255, 255, 255, .9);
}

.about_of_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.about_of {
  font-family: 'Mono Regular';
  font-size: 24px;
  color: rgba(255, 255, 255, .5);
}

.about_line {
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, .5);
}

.about_title {
  font-family: 'Mono Medium';
  font-size: 52px;
  text-transform: uppercase;
}

.about_work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  padding-bottom: 124px;
}

.about_work_content {
  display: flex;
  flex-direction: column;
}

.about_work_title {
  font-family: 'Mono Medium';
  font-size: 48px;
  color: rgba(255, 255, 255, .9);
}

.about_work_text {
  color: rgba(255, 255, 255, .9);
}

.about_case {
  display: flex;
  flex-direction: column;
  padding-bottom: 152px;
}

.about_case_wrapper {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin-top: 45px;
}

.about_case_des {
  display: flex;
  flex-direction: column;
  width: 670px;
}

.about_case_name {
  font-family: 'Mono Medium';
  font-size: 52px;
  color: rgba(255, 255, 255, .9);
}

.about_case_text {
  font-family: 'Nairi';
  font-size: 30px;
  color: rgba(255, 255, 255, .9);
  margin-top: 24px;
  margin-bottom: 32px;
}

.about_case_link {
  font-family: 'Mono Medium';
  color: rgba(255, 255, 255, .9);
  font-size: 32px;
  cursor: pointer;
  text-decoration: none;
}

.about_case_preview {
  position: relative;
  min-width: 936px;
  margin-right: calc(var(--b-padding)*-1);
}

.about_case_preview_back {
  position: absolute;
  right: 0;
  width: 100%;
}

.testImg {
  position: absolute;
  left: 20px;
  top: 19px;
}

.about_case_preview_desktop {
  position: absolute;
  left: 20px;
  top: 19px;
  filter: brightness(0.6);
}

.about_case_preview_phone {
  position: absolute;
  left: 52px;
  top: 162px;
}

.case_info_back {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 192px;
  z-index: -1;
  margin-right: calc(var(--b-padding)*-1);
}

.case_info {
  display: flex;
  align-items: center;
  gap: 21px;
  height: 152px;
  width: 100%;
  padding: 0 77px;
  background-color: rgba(0, 0, 0, .9);
}

.case_info_line {
  background-color: rgba(255, 255, 255, .7);
  width: 2px;
  height: 40%;
}

.case {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 192px;
  margin-top: 109px;
}

.test {
  /* margin-right: calc(var(--b-padding)*-1); */
  display: flex;
  align-items: center;
}

.test1{

}

.test2 {
  display: flex;
  flex-direction: column;
}

.test3{

}

.case_info_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 278px;
  min-height: 120px;
}

.case_info_item_num {
  font-family: 'Mono Regular';
  font-size: 36px;
  color: rgba(255, 255, 255);
}

.case_info_item_text {
  font-family: 'Nairi';
  font-size: 24px;
  color: rgba(255, 255, 255);
}